//global
$page_background: black;
$letter: rgb(255, 255, 255);

//Navbar
$navbar_background: rgb(128, 128, 128);
$navbar_letter: rgb(0, 0, 0);
$navbar_a_hover: rgb(255, 255, 255);
$navabar_background_submenu: rgb(255, 255, 255);
$navabar_letter_submenu: rgb(0, 153, 233)
