.loggin-container{
  height: 100vh;
  display: flex;
  align-items:center ;
  justify-content: center;
}
.loggin{
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  label{
    margin: 5px 0px;
  }
  input{
    background-color: #849cbf;
    border: 1px solid #b1b6bd;
    padding: 13px;
    font-size: 15px;
  }
  button{
    margin-top: 15px;
    width: 30%;
  }
}
svg{
  width: 100px;
  height: 100px;
}

input:hover {
  background: #5f929e;
}

