.receiptEfectivo {
  background: #dbdce0;
  height: 400px;
  max-width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerEfectivo{
  text-align: center;
    font-family: "Work Sans", sans-serif ;
    color: #5b1f00;
    svg{
      font-size: 8.75rem;
      margin-bottom: 20px;
    }

}
  
