.containerTabla {
  display: flex;
  flex-direction: column;
}
.containercomentarios {
  display: flex;
  height: 30%;
  width: 100%;
  align-items: center;
  padding-left: 5%;
}
.divpedido {
  height: 10%;
  display: flex;

  margin-right: 0.5%;
}
.imagen {
  height: 10rem;
  border-radius: 6%;
  width: 15rem; // cambie la unidad de porcentaje a rem para que quede bien sino no esta centrado
}
.divcomentarios {
  margin-left: 2%;
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: column;
}
.divcomentarios p {
  font-size: larger;
}
.divfecha {
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10%;
  margin-right: 2%;
}
.formulariocomentario {
  textarea {
    margin-right: 2%;
    width: 30rem;
    height: 4rem;
  }
  .rating {
    margin-right: 10%;
  }
}
// .texarea {
//   margin-right: 2%;
// }
.divfecha p {
  font-size: larger;
}

.rating {
  display: flex;
}

// .rating input {
//   position: absolute;
//   left: -100vw;
// }

.rating label {
  width: 48px;
  height: 48px;
  padding: 48px 0 0;

  background: url("../../image/stars.svg") no-repeat top left;
}

// .rating:not(:hover) input:indeterminate + label,
// .rating:not(:hover) input:checked ~ input + label,
// .rating input:hover ~ input + label {
//   background-position: -48px 0;
// }

// .rating:not(:hover) input:focus-visible + label {
//   background-position: -96px 0;
// }
.formulariocomentario {
  display: flex;
}
