.container_table {
    text-align: center;
    
    h2{
      margin-bottom: 20px;
    }
    
    img {
      width: 80px;
      height: 80px;
    }
    
    table {
      border: 1px solid #000;
      width: 100%;
    }
  
    th,td {
      padding: 15px;
      border: 1px solid #000;
    }
    svg {
      font-size: 30px;
    }
  }