//base
@import "./base/global";

//componentes
@import "./components/app";
@import "./components/navbar";
@import "./components/loggin";
@import "./components/registro";
@import "./components/productos";
@import "./components/Inicio";
@import "./components/footer";
@import "./components//carritoDeCompras";
@import "./components/pagoTarjeta";
@import "./components/pagoEfectivo";
@import "./components/vistaAdminUsuarios";
@import "./components/vistaHistorial";
@import "./common/TableCarritoDeCompras";
@import "./common/grillaDeProductos";
@import "./common/productosDetallados";
@import "./components/vistaNosotros"; //common
